= form_with(model: [:applicant,warehouse], local: true) do |form|
  - if warehouse.errors.any?
    #error_explanation
      %h2
        = pluralize(warehouse.errors.count, "error")
        prohibited this warehouse from being saved:
      %ul
        - warehouse.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name, id: :warehouse_name
  .field
    = form.label :owner_name
    = form.text_field :owner_name, id: :warehouse_owner_name
  .field
    = form.label :state_id
    = form.select :state_id, State.all.collect {|p| [ p.name['en'], p.id ] }, { prompt: 'Select state' }, id: :warehouse_state_id
  .field
    = form.label :district_id
    = form.select :district_id, District.all.collect{|p| [p.name['en'], p.id]}, {prompt: 'Select district'},id: :warehouse_district_id
  .field
    = form.label :post_office
    = form.text_field :post_office, id: :warehouse_post_office
  .field
    = form.label :police_station
    = form.text_field :police_station, id: :warehouse_police_station
  .field
    = form.label :pincode
    = form.text_field :pincode, id: :warehouse_pincode
  .field
    = form.label :postal_address
    = form.text_area :postal_address, id: :warehouse_postal_address
  .field
    = form.label :applicant_user_id
    = form.text_field :applicant_user_id, id: :warehouse_applicant_user_id
  .field
    = form.label :status
    = form.text_field :status, id: :warehouse_status
  .actions
    = form.submit
