%p#notice= notice
%h1 Warehouses
%table
  %thead
    %tr
      %th Name
      %th Owner name
      %th State
      %th District
      %th Post office
      %th Police station
      %th Pincode
      %th Postal address
      %th Applicant user
      %th Status
      %th{:colspan => "3"}
  %tbody
    - @warehouses.each do |warehouse|
      %tr
        %td= warehouse.name
        %td= warehouse.owner_name
        %td= warehouse.state
        %td= warehouse.district
        %td= warehouse.post_office
        %td= warehouse.police_station
        %td= warehouse.pincode
        %td= warehouse.postal_address
        %td= warehouse.applicant_user
        %td= warehouse.status
        %td= link_to 'Show', warehouse
        %td= link_to 'Edit', edit_warehouse_path(warehouse)
        %td= link_to 'Destroy', warehouse, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Warehouse', new_applicant_warehouse_path
