.card.table-card
  .actionbar
    .flex
    %a.btn.btn-primary
      New warehouse
  %table
    %thead
      %tr
        %th Name
        %th Owner name
        %th State
        %th District
        %th Post office
        %th Police station
        %th Pincode
        %th Postal address
        %th Applicant user
        %th Status
        %th{:colspan => "3"}
    %tbody
      - @warehouses.each do |warehouse|
        %tr
          %td= warehouse.name
          %td= warehouse.owner_name
          %td= warehouse.state.name[@language]
          %td= warehouse.district.name[@language]
          %td= warehouse.post_office
          %td= warehouse.police_station
          %td= warehouse.pincode
          %td= warehouse.postal_address
          %td= warehouse.applicant_user.email
          %td= warehouse.status
          %td= link_to 'Show', applicant_warehouse_path(warehouse)
          %td= link_to 'Edit', edit_applicant_warehouse_path(warehouse)
          %td= link_to 'Destroy', [:applicant,warehouse], method: :delete, data: { confirm: 'Are you sure?' }
