.field
  = form_object.label :extended_data, "Ward No"
  = form_object.text_field "extended_data[:ward_no]"
.field
  = form_object.label :extended_data, "Holding No"
  = form_object.text_field "extended_data[:holding_no]"
.field
  = form_object.label :extended_data, "Land Mark"
  = form_object.text_field "extended_data[:land_mark]"