%h2 Sign up
= form_for resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true } do |f|
  = devise_error_messages!
  .field
    = f.label :email
    = f.email_field :email, autofocus: true
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off"

  = f.fields_for :applicant_profile_attributes do |p|
    .field
      = p.label :name, "Full Name"
      = p.text_field :name
    .field
      = p.label :mobile_no, "Mobile"
      = p.text_field :mobile_no
    .field
      = p.radio_button :gender, 'male'
      = p.label :male
    .field
      = p.radio_button :gender, 'female'
      = p.label :female
    .field
      = p.label :prefer_language
      = p.select :prefer_language, [['English','en'],['Bengali','en']]
    .field
      = p.label :id_card_type, 'ID Card type'
      = p.select :id_card_type, [['Voter Card','voter_card'],['PAN Card','pan_card']]
    .field
      = p.label :id_card_number, 'ID Card number'
      = p.text_field :id_card_number
    .field
      = p.label :id_card_image, "ID Card image"
      = p.file_field :id_card_image
    .field
      = p.label :dob
      = p.date_field :dob
  = f.fields_for :communication_address_attributes do |ca|
    .field
      = ca.label :street_no
      = ca.text_field :street_no
    .field
      = ca.label :post_office
      = ca.text_field :post_office
    .field
      = ca.label :police_station
      = ca.text_field :police_station
    .field
      = ca.label :pin_code
      = ca.text_field :pin_code
    .field
      = ca.label :state_id
      = ca.select :state_id, State.all.collect {|p| [ p.name['en'], p.id ] }, { prompt: 'Select state' }, data:{ dynamic_selectable_url: state_districts_path(':state_id'), dynamic_selectable_target: '#warehouse_district_id'}
    .field
      = ca.label :district_id
      = ca.select :district_id, District.all.collect{|p| [p.name['en'], p.id]}, {prompt: 'Select district'}
    .field
      = ca.label :extended_type, "Address Type"
      = ca.select :extended_type, [['Urban','urban'],['Rural', 'rural']], {prompt: 'Select Address type'}
    -# #extended-form

    #extended_urban_from.dn
      = render 'extended_urban', form_object: ca
    #extended_rural_from.dn
      = render 'extended_rural', form_object: ca
  .actions
    = f.submit "Sign up"
= render "applicant_users/shared/links"
