.signup-container
  .content
    .container
      .row.justify-content-md-center
        .col.col-lg-6.mt100
          %h1.header-1
            =image_tag('logo.png', width: 60)
            sign up
          .card.type-1.mb30
            .card-body

              = form_for resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true } do |f|
                = devise_error_messages!
                .md-form
                  = f.email_field :email, autofocus: true, class: 'form-control'
                  = f.label :email
                .md-form
                  = f.password_field :password, autocomplete: "off", class: 'form-control'
                  = f.label :password
                  - if @minimum_password_length
                    %em
                      (#{@minimum_password_length} characters minimum)
                  %br/
                .md-form
                  = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
                  = f.label :password_confirmation

                = f.fields_for :applicant_profile_attributes do |p|
                  .md-form
                    = p.text_field :name, class: 'form-control'
                    = p.label :name, "Full Name"
                  .md-form
                    = p.text_field :mobile_no, class: 'form-control'
                    = p.label :mobile_no, "Mobile"
                  %fieldset.form-group
                    .row
                      %legend.col-form-legend.col-sm-2 Gender
                      .col-sm-10
                        .form-check
                          %label.form-check-label
                            = p.radio_button :gender, 'male', id: 'genderMale'
                            Male
                        .form-check
                          %label.form-check-label
                            = p.radio_button :gender, 'female', id: 'genderFemale'
                            Female
                  .md-form2
                    = p.label :prefer_language
                    = p.select :prefer_language, [['English','en'],['Bengali','en']], {} ,class: 'form-control'
                  .md-form2
                    = p.label :id_card_type, 'ID Card type'
                    = p.select :id_card_type, [['Voter Card','voter_card'],['PAN Card','pan_card']], {} ,class: 'form-control'
                  %br
                  .md-form
                    = p.text_field :id_card_number, class: 'form-control'
                    = p.label :id_card_number, 'ID Card number'
                  -# .file-field
                  -#   .btn.btn-primary.btn-sm.waves-effect.waves-light
                  -#     %span Choose file
                  -#     %input{:type => "file"}/
                  -#   .file-path-wrapper
                  -#     %input.file-path.validate{:placeholder => "Upload your file", :type => "text"}/

                  .md-form
                    = p.label :id_card_image, "ID Card image"
                    %br
                    = p.file_field :id_card_image, class: 'form-control'
                  .md-form
                    = p.date_field :dob, class: 'form-control'
                    = p.label :dob, 'Date of birth'
                = f.fields_for :communication_address_attributes do |ca|
                  .md-form
                    = ca.text_field :street_no, class: 'form-control'
                    = ca.label :street_no
                  .md-form
                    = ca.text_field :post_office, class: 'form-control'
                    = ca.label :post_office
                  .md-form
                    = ca.text_field :police_station, class: 'form-control'
                    = ca.label :police_station
                  .md-form
                    = ca.text_field :pin_code, class: 'form-control'
                    = ca.label :pin_code
                  .field
                    = ca.label :state_id
                    = ca.select :state_id, State.all.collect {|p| [ p.name['en'], p.id ] }, { prompt: 'Select state' }, data:{ dynamic_selectable_url: state_districts_path(':state_id'), dynamic_selectable_target: '#warehouse_district_id'}, class: 'form-control'
                  .field
                    = ca.label :district_id
                    = ca.select :district_id, District.all.collect{|p| [p.name['en'], p.id]}, {prompt: 'Select district'}, class: 'form-control'
                  .mfield
                    = ca.label :extended_type, "Address Type"
                    = ca.select :extended_type, [['Urban','urban'],['Rural', 'rural']], {prompt: 'Select Address type'}, class: 'form-control'
                  -# #extended-form
                  %br
                  #extended_urban_from.dn
                    = render 'extended_urban', form_object: ca
                  #extended_rural_from.dn
                    = render 'extended_rural', form_object: ca
                .actions
                  = f.submit "Sign up", class: 'btn btn-primary right'
            =# render "applicant_users/shared/links"
