.card
  .card-body
    %h4.card-title="#{params[:action].humanize} qualification"
    = form_for [:applicant,@qualification] do |f|
      - if @qualification.errors.any?
        #error_explanation
          %h2= "#{pluralize(@qualification.errors.count, "error")} prohibited this qualification from being saved:"
          %ul
            - @qualification.errors.full_messages.each do |message|
              %li= message

      .form-group.row
        = f.label :resource_type, class: 'col-sm-3 col-form-label'
        .col-sm-7
          = f.select :resource_type, [['Self','self'],['Others','others']], { }, class: 'form-control'
      .form-group.row
        = f.label :resource_name, class: 'col-sm-3 col-form-label'
        .col-sm-7
          = f.text_field :resource_name
      .form-group.row
        = f.label :education, class: 'col-sm-3 col-form-label'
        .col-sm-7
          = f.select :education_id, Education.all.collect{|e| [e.name[@language],e.id]}, { }, class: 'form-control'
      .form-group.row
        = f.label :passing_institute, class: 'col-sm-3 col-form-label'
        .col-sm-7
          = f.text_field :passing_institute
      .form-group.row
        = f.label :passing_year, class: 'col-sm-3 col-form-label'
        .col-sm-7
          = f.text_field :passing_year
      .form-group.row
        = f.label :certificate_number, class: 'col-sm-3 col-form-label'
        .col-sm-7
          = f.text_field :certificate_number
      -# .form-group.row
      -#   = f.label :status, class: 'col-sm-3 col-form-label'
      -#   .col-sm-7
      -#     = f.select :status , [['Active', 'active'],['Inactive','inactive']], { }, class: 'form-control'
      .form-group.row
        = f.label :certificate_image, class: 'col-sm-3 col-form-label'
        .col-sm-7
          = f.file_field :certificate_image, class: 'form-control'
      = f.hidden_field :applicant_user_id, id: :qualification_applicant_user_id, value: current_applicant_user.id

      .form-group.row
        .col-sm-3
        .col-sm-7
          = f.submit 'Save', class: 'btn btn-primary'
