%p#notice= notice

%p
  %b Role:
  = @form_a1.role
%p
  %b Place:
  = @form_a1.place
%p
  %b State:
  = @form_a1.state
%p
  %b Applicant name:
  = @form_a1.applicant_name
%p
  %b Concern name:
  = @form_a1.concern_name
%p
  %b Postal address:
  = @form_a1.postal_address
%p
  %b District:
  = @form_a1.district
%p
  %b Subdivision:
  = @form_a1.subdivision
%p
  %b Extended address type:
  = @form_a1.extended_address_type
%p
  %b Extended address:
  = @form_a1.extended_address
%p
  %b Certificate type:
  = @form_a1.certificate_type
%p
  %b Jurisdiction:
  = @form_a1.jurisdiction
%p
  %b Registration fees:
  = @form_a1.registration_fees
%p
  %b Challan no:
  = @form_a1.challan_no
%p
  %b Challan submission date:
  = @form_a1.challan_submission_date
%p
  %b Bank name:
  = @form_a1.bank_name
%p
  %b Enclose dd no:
  = @form_a1.enclose_dd_no
%p
  %b Enclose dd date:
  = @form_a1.enclose_dd_date
%p
  %b Payment for:
  = @form_a1.payment_for
%p
  %b Payment drawn on:
  = @form_a1.payment_drawn_on
%p
  %b Payment in favour of:
  = @form_a1.payment_in_favour_of
%p
  %b Payable at:
  = @form_a1.payable_at
%p
  %b Terms condition:
  = @form_a1.terms_condition
%p
  %b Declaration:
  = @form_a1.declaration
%p
  %b Applicant user:
  = @form_a1.applicant_user

= link_to 'Edit', edit_form_a1_path(@form_a1)
\|
= link_to 'Back', form_a1s_path
