.signin-container
  .content
    %nav.navbar.navbar-light.bg-light.justify-content-between.transparent
      .flex
      %a.navbar-brand.btn.btn-transparent{href: new_applicant_user_session_url} User Login
    .container
      .row.align-items-center.justify-content-center.justified-body
        .col-lg-5
          %h1.header-1
            =image_tag('logo.png', width: 60)
            sign in
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .md-form.white
              = f.email_field :email, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: 'Email'
            .md-form.white
              = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
            .actions
              = f.submit "Log in", class: 'btn btn-primary right'
          = link_to "Forgot your password?", new_password_path(resource_name)
