<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @warehouse.name %>
</p>

<p>
  <strong>Owner name:</strong>
  <%= @warehouse.owner_name %>
</p>

<p>
  <strong>State:</strong>
  <%= @warehouse.state %>
</p>

<p>
  <strong>District:</strong>
  <%= @warehouse.district %>
</p>

<p>
  <strong>Post office:</strong>
  <%= @warehouse.post_office %>
</p>

<p>
  <strong>Police station:</strong>
  <%= @warehouse.police_station %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @warehouse.pincode %>
</p>

<p>
  <strong>Postal address:</strong>
  <%= @warehouse.postal_address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @warehouse.status %>
</p>

<%= link_to 'Edit', edit_warehouse_path(@warehouse) %> |
<%= link_to 'Back', warehouses_path %>
