!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Agrisnet Admin
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body.admin-body
    .wrapper
      %nav#sidebar
        / Sidebar Header
        .sidebar-header
          %h1.header-2
            =image_tag('logo.png', width: 40)
            agrisnet
        / Sidebar Links
        %ul.list-unstyled.components
          %li.active
            %a{:href => admin_root_path} Dashboard
          %li
            %a{:href => "#"} Applicants
          %li
            / Link with dropdown items
            %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#usersSubmenu"} Users
            %ul#usersSubmenu.collapse.list-unstyled
              %li
                %a{:href => "#"} All users
              %li
                %a{:href => "#"} Add new
          %li
            / Link with dropdown items
            %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#educationsSubmenu"} Education Manager
            %ul#educationsSubmenu.collapse.list-unstyled
              %li
                %a{:href => new_admin_education_path} Create Education
              %li
                %a{:href => admin_educations_path} List Educations
          %li
            %a{:href => "#"} Sales applications
          %li
            %a{:href => "#"} Role and certificate
          %li
            = link_to  "Logout", destroy_admin_user_session_path, method: :delete

      #content
        -# %button#sidebarCollapse.btn.btn-info.navbar-btn{:type => "button"}
        -#   %i.glyphicon.glyphicon-align-left
        -#   Toggle Sidebar
        = yield

  %footer
    :javascript
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
          $('#content').toggleClass('active');
      });
