!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Applicant | Agrisnet
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/

  %body.applicant-body
    .wrapper
      %nav#sidebar.applicant
        / Sidebar Header
        .sidebar-header
          %a.no-text-decoration{href: root_path}
            %h1.header-2
              =image_tag('logo.png', width: 40)
              MK Agri Input
        / Sidebar Links
        %ul.list-unstyled.components
          %li{class: current_class?([root_path]) ? 'active' : ''}
            %a{:href => root_path}
              %i.material-icons timeline
              Dashboard

          %li{class: current_controller?('applicant/applications', params[:controller]) ? 'active' : ''}
            / Link with dropdown items
            %a{"aria-expanded" => current_controller?('applicant/applications', params[:controller]) ? 'true' : 'false', "data-toggle" => "collapse", :href => "#salesSubmenu"}
              %i.material-icons local_florist
              Fertilizer
              %i.material-icons.right more_horiz
            %ul#salesSubmenu.collapse.list-unstyled{class: current_controller?('applicant/applications', params[:controller]) ? 'show' : ''}
              %li{class: current_class?([applicant_applications_path]) ? 'active' : ''}
                %a{:href => applicant_applications_path} All applications
              %li{class: current_class?([new_applicant_application_path]) ? 'active' : ''}
                %a{:href => new_applicant_application_path} New application
          %li
            / Link with dropdown items
            %a
              %i.material-icons bug_report
              Pesticide
              %i.material-icons.right more_horiz
          %li
            / Link with dropdown items
            %a
              %i.material-icons grain
              Seed
              %i.material-icons.right more_horiz
          %li{class: current_controller?('applicant/qualifications', params[:controller]) ? 'active' : ''}
            / Link with dropdown items
            %a{"aria-expanded" => current_controller?('applicant/qualifications', params[:controller]) ? 'true' : 'false', "data-toggle" => "collapse", :href => "#usersSubmenu"}
              %i.material-icons school
              Qualification
              %i.material-icons.right more_horiz
            %ul#usersSubmenu.collapse.list-unstyled{class: current_controller?('applicant/qualifications', params[:controller]) ? 'show' : ''}
              %li{class: current_class?([applicant_qualifications_path]) ? 'active' : ''}
                %a{:href => applicant_qualifications_path} List
              %li{class: current_class?([new_applicant_qualification_path]) ? 'active' : ''}
                %a{:href => new_applicant_qualification_path} Create
          %li{class: current_controller?('applicant/warehouses', params[:controller]) ? 'active' : ''}
            / Link with dropdown items
            %a{"aria-expanded" => current_controller?('applicant/warehouses', params[:controller]) ? 'true' : 'false', "data-toggle" => "collapse", :href => "#warehouseSubmenu"}
              %i.material-icons store
              Storage Address
              %i.material-icons.right more_horiz
            %ul#warehouseSubmenu.collapse.list-unstyled{class: current_controller?('applicant/warehouses', params[:controller]) ? 'show' : ''}
              %li{class: current_class?([applicant_warehouses_path]) ? 'active' : ''}
                %a{:href => applicant_warehouses_path} All warehouses
              %li{class: current_class?([new_applicant_warehouse_path]) ? 'active' : ''}
                %a{:href => new_applicant_warehouse_path} New warehouse
          %li
            %a{:href => "#"}
              %i.material-icons filter
              User Manual
      #content
        %nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top#static-top-navbar
          %a.navbar-brand{:href => "#"}=params[:controller].split('/').last.humanize
          %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            %ul.navbar-nav.ml-auto
              %li.nav-item
                %a.nav-link.nav-icon-link.blue{:href => "#"}
                  %i.material-icons notifications
              %li.nav-item.dropdown
                %a#navbarDropdown.nav-link.dropdown-toggle.nav-icon-link.light-grey{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
                  %i.material-icons person
                .dropdown-menu.dropdown-menu-right.dropdown-secondary{"aria-labelledby" => "navbarDropdown", style: "position: absolute;"}
                  %a.dropdown-item{:href => "#"} Profile
                  %a.dropdown-item{:href => "#"} Change Password
                  .dropdown-divider
                  = link_to  "Logout", destroy_applicant_user_session_path, method: :delete, class: 'dropdown-item'

        -# %button#sidebarCollapse.btn.btn-info.navbar-btn{:type => "button"}
        -#   %i.glyphicon.glyphicon-align-left
        -#   Toggle Sidebar
        = yield

  %footer
    :javascript
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
          $('#content').toggleClass('active');
          $('#static-top-navbar').toggleClass('active');
      });
